.main-container {
    padding: 10px 15px;
}

a.nav-item.nav-link {
    color: #fff;
}

a:hover.nav-item.nav-link {
    background-color: #fff;
    color: rgb(10, 119, 187);
}

a.nav-item.nav-link.router-link-active {
    background-color: rgb(10, 119, 187);
    color: #fff;
}

.hamburger .line {
    width: 32px;
    height: 3px;
    background-color: #ecf0f1;
    display: block;
    margin: 6px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .hamburger:hover {
    cursor: pointer;
  }

  .hamburger.is-active .line:nth-child(2){
    opacity: 0;
  }
  
  .hamburger.is-active .line:nth-child(1){
    -webkit-transform: translateY(9px) rotate(45deg);
    -ms-transform: translateY(9px) rotate(45deg);
    -o-transform: translateY(9px) rotate(45deg);
    transform: translateY(9px) rotate(45deg);
  }
  
  .hamburger.is-active .line:nth-child(3){
    -webkit-transform: translateY(-9px) rotate(-45deg);
    -ms-transform: translateY(-9px) rotate(-45deg);
    -o-transform: translateY(-9px) rotate(-45deg);
    transform: translateY(-9px) rotate(-45deg);
  }